<%- include('../layouts/head.ejs') %>
<link rel="stylesheet" href="/css/style.css">
    <title>Wealth Bazzar | <%= title%> </title>
  </head>

    <body>
        <%- include('../layouts/navbar.ejs') %>
    <div class="container-fluid aboutInsurance">

        <div class="row">
    
            <div class="col-12 col-md-6">
              <div class="container">
                <h3><%= service.title %> </h3>
                <div class="content">
                    <p> One of the most important things to remember when trying to enter the investment sphere is to be prepared for the consequences or to play smartly. Wealth Bazzar offers you relevant choices to start with if you're looking for a guide. The choices presented are: </p>
                    <p>1. PRE- IPO</p>
                    <p>2. Mutual Fund</p>
                    <p>3. Private Equity- UK, USA & INDIA</p>
                    <p>4. Real State</p>
                </div>
                </div>
                <div class="text-center mt-3">
                    <a class="mybtn1" href="/contact-us">Ask to Our Expert</a>
                </div>
            </div>
    
            <div class="col-12 col-md-6">
              <figure>
                <img src="/<%= (service.image_url).replace(/\\/g, "/") %>" class="img-round50 img-fluid" %}>
              </figure>
            </div>
        </div>
    
    </div>
    <%- include('../layouts/footer.ejs') %>
    <% -include('../layouts/end.ejs') %>